@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <title>ExportParkReport</title>



</head>
<body>
    <div>
        <p>ddddddddd</p>
        <section class="social" id="ReportDisplayPanel">
            <h4>Report Viewer Section.</h4>
            <img src="@Url.Action("GenerateAndDisplayReport", "ParkCharges")" id="reportImg" />
        </section>
    </div>
    <img src="" alt="" />
</body>

</html>

