@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = L("InspectorManagement");
    ViewBag.ActiveMenu = "InspectorManagement";
}
@section styles
{
    <link rel="stylesheet" href="~/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/assets/css/ui.jqgrid.css" />
}

<table id="grid-table"></table>
<div id="grid-pager"></div>

@section scriptsgrid
{
    //主表
    jQuery(grid_selector).jqGrid({
    url: '../Inspectors/GetAllInspectorList',
    datatype: "json",
    mtype: "post",
    shrinkToFit:false,
    height: 'auto',
    autowidth: true,
    colNames: ['操作','ID', '分公司名称', '巡查员编号', '巡查员名称', '银行卡号', '密码', '手机号', '地址', '巡查员状态', '是否签到', '签到时间', '是否签退', '签退时间', '签退类型', '备注'],
    colModel: [{
        name: 'myac', index: '', width: 80, fixed: true, sortable: true, resize: false, search: false,
        formatter: 'actions',hidden:window.rowedit,
        formatoptions: {
            keys: true,
            delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback }
        }
    },
    { name: 'Id', index: 'Id', sorttype: "int", key: true, hidden: true},
    { name: 'CompanyName', editable: true, index: 'CompanyName',search:false, edittype:"select",
        editoptions:{ dataUrl: '../Equipments/GetAllCompanyName/'+(new Date()).getMilliseconds(), defaultValue: '1' }},
    { name: 'UserName', index: 'UserName', editable: true },
    { name: 'TrueName', index: 'TrueName', editable: true },
    { name: 'BankCard', index: 'BankCard', editable: true },
    { name: 'Password', index: 'Password', editable: true },
    { name: 'Telephone', index: 'Telephone', editable: true },
    { name: 'Address', index: 'Address', editable: true },
    { name: 'AccountStatus', index: 'AccountStatus', editable: true ,edittype:"select",editoptions:{ dataUrl: '../Employees/GetAllAccountStaus/'+(new Date()).getMilliseconds(), defaultValue: '1' }},
    { name: 'CheckIn',index: 'CheckIn',search:false, edittype: "select", editoptions:{ value: "true:是;false:否" }, formatter:YesAndNo },
    { name: 'CheckInTime', index: 'CheckInTime',search:false, esorttype: "date", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
    { name: 'CheckOut', index: 'CheckOut',search:false,  edittype: "select", editable: true, editoptions:{ value: "true:是;false:否" }, formatter:YesAndNo},
    { name: 'CheckOutTime', index: 'CheckOutTime',search:false, sorttype: "date", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
    { name: 'CheckOuttype', index: 'CheckOuttype',edittype:"text"},
    { name: 'Remark', index: 'Remark', editable: true, edittype:'textarea' }
    ],
    viewrecords: true,
    rowNum: 10,
    rowList: [10, 20, 30],
    pager: pager_selector,
    altRows: true,
    sortname: 'Id',
    toppager: false,
    editurl: "../Inspectors/ProcessInspector",
    multiselect: true,
    //multikey: "ctrlKey",
    multiboxonly: true,
    loadComplete: function () {
    var table = this;
    setTimeout(function () {
    styleCheckbox(table);
    updateActionIcons(table);
    updatePagerIcons(table);
    enableTooltips(table);
    }, 0);
    }
    });
}

