@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = L("TransmitterMonitor");
    ViewBag.ActiveMenu = "TransmitterMonitor";
}

<!--Tree Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="form-horizontal" role="form">
            <div class="modal-content" style="width:550px">
                <div class="modal-header" style="padding:8px 15px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">基站设置</h4>
                </div>
                <div class="modal-body" style="margin:20px 20px 1px 20px">
                    <div class="content_wrap">
                        <div class="form-group" style="display:none">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Id</label>

                            <div class="col-sm-9">
                                <input type="text" id="Id" value="" placeholder="Id" class="col-xs-10 col-sm-11" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 基站编号 </label>

                            <div class="col-sm-9">
                                <input type="text" id="TransmitterNumber" value="" placeholder="基站编号" class="col-xs-10 col-sm-11" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 基站名称 </label>

                            <div class="col-sm-9">
                                <input type="text" id="TransmitterName" value="" placeholder="基站名称" class="col-xs-10 col-sm-11" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 电压电量 </label>

                            <div class="col-sm-9">
                                <input type="text" id="VoltageCaution" value="" placeholder="电压电量" class="col-xs-10 col-sm-11" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 基站地址 </label>

                            <div class="col-sm-9">
                                <input type="text" id="Address" value="" placeholder="基站地址" class="col-xs-10 col-sm-11" />
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right"></label>
                            <div class="col-sm-11" id="allmap" style="width:450px;height:200px;">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" onclick="getCheckedNodes()">查看权限信息</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="Save()">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>


<table id="grid-table"></table>
<div id="grid-pager"></div>


@section scriptsgrid
{
    jQuery(grid_selector).jqGrid({
    //direction: "rtl",
    //data: grid_data,
    //datatype: "local",
    ajaxGridOptions : {type:"POST",async:false},
    url: '../InspectionDevice/GetAllTransmitter',
    datatype: "json",
    mtype: "post",
    height: 400,
    //height: 'auto',
    colNames: [ 'ID', '基站编号', '基站名称','电池电量','地址','更新时间','创建时间','心跳时间'],
    colModel: [
        { name: 'Id', index: 'Id', sorttype: "int", key: true, hidden: true },
        { name: 'TransmitterNumber', index: 'TransmitterNumber',editable: true},
        { name: 'TransmitterName', index: 'TransmitterName',editable: true},
        { name: 'VoltageCaution', index: 'VoltageCaution',editable: true },
        { name: 'Address', index: 'Address', editable: true },
        { name: 'Updatetime', index: 'Updatetime', formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
        { name: 'CreationTime', index: 'CreationTime', formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
        { name: 'BeatDatetime', index: 'BeatDatetime', formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }   
    ],
    viewrecords: true,
    rowNum: 10,
    rowList: [10, 20, 30],
    pager: pager_selector,
    subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
            var subgrid_table_id, pager_id;
            subgrid_table_id = subgrid_id + "_t";
            pager_id = "p_" + subgrid_table_id;
            $("#" + subgrid_id).html(
            "<table id='" + subgrid_table_id
                            + "' class='scroll'></table><div id='"
                            + pager_id + "' class='scroll'></div>");
            jQuery("#" + subgrid_table_id).jqGrid(
            {
                ajaxSelectOptions: { type: "GET" , async:false },
                ajaxGridOptions : {type:"POST", async:false },
                url: "../Sensors/GetSensorByTransmitterId/" + row_id,
                datatype: "json",
                colNames: [ 'ID', '商户', '分公司', '区域', '停车场', '泊位段', '泊位号', '传输器编号', '车检器编号', '停车状态', '是否在线', '最后心跳时间'],
                colModel: [
                    { name: 'Id', index: 'Id', sorttype: "int", hidden: true},
                    { name: 'Name', index: 'Name'},
                    { name: 'CompanyName', index: 'CompanyName'},
                    { name: 'RegionName', index: 'RegionName', search: true, stype:'select', searchoptions: { dataUrl:'../Berthsecs/GetAllRegionName/'+(new Date()).getMilliseconds(), sopt:['eq', 'ne']} },
                     { name: 'ParkName', editable: true, index: 'ParkName',search:true ,
                        stype:'select', searchoptions: { dataUrl:'../Berthsecs/GetAllParkName/'+(new Date()).getMilliseconds(), sopt:['eq', 'ne']} },
                    { name: 'BerthsecName', index: 'BerthsecName', search:true ,
                        stype:'select', searchoptions: { dataUrl:'../Berthsecs/GetBerthsecListSelect/'+(new Date()).getMilliseconds(), sopt:['eq', 'ne']} },
                    { name: 'BerthNumber', index: 'BerthNumber'},
                    { name: 'TransmitterNumber', index: 'TransmitterNumber'},
                    { name: 'SensorNumber', key: true, index: 'SensorNumber'},
                    { name: 'ParkStatus', index: 'ParkStatus', formatter: StopOrEmpty },
                    { name: 'IsOnlineValue', index: 'IsOnlineValue', formatter: IsOnline },
                    { name: 'BeatDateTimeString', index: 'BeatDateTimeString', sorttype: "date", editable: false, search:true, stype:'text', searchoptions: {dataInit:datePick
    , attr:{title:'选择日期'}, sopt:['lt', 'le', 'gt', 'ge']}}
                ],
                sortname: 'Id',
                rowNum : 50,
                sortorder: "desc",
                height: 'auto'
            });
            },

    altRows: true,
    sortname: 'Id',
    editurl: "../InspectionDevice/ProcessTransmitters",
    multiselect: true,
    @*multikey: "ctrlKey",*@
    multiboxonly: true,
    loadComplete: function () {
        var table = this;
        setTimeout(function () {
            styleCheckbox(table);
            updateActionIcons(table);
            updatePagerIcons(table);
            enableTooltips(table);
        }, 0);
    },
    caption: "@ViewBag.Title",
    autowidth: true
    });


    }

@section scriptsbuttonbyself{
    if(window.field1){
        jQuery(grid_selector).navButtonAdd(pager_selector,
        {
            buttonicon: "icon-plus-sign purple",
            title: "添加",
            caption: "添加",
            position: "last",
            onClickButton: function()
            {
                selectedId=0;
                Saveoper="add";
                $("#myModal").css("display","block");
                $("#myModal").modal('show');
                mapIni();

            }
        });
    }

    /// add second custom button
    if(window.field2){
        jQuery(grid_selector).navButtonAdd(pager_selector,
        {
            buttonicon: "ui-icon-pencil",
            title: "修改",
            caption: "修改",
            position: "last",
            onClickButton: function(){
                var ids = jQuery(grid_selector).jqGrid('getGridParam','selarrrow');
                if (ids.length==1)
                {
                    Saveoper="edit";
                    selectedId=ids[0];
                    $.ajax({
                        type: "Post",
                        url: "../InspectionDevice/GetTransmitterById/",
                        data:{
                                id:selectedId
                            },
                        success: function (data) {

                             $("#TransmitterNumber").attr("readonly","readonly");
                            $("#TransmitterNumber").val(data.TransmitterNumber);
    
                            $("#TransmitterName").val(data.TransmitterName);
                            $("#VoltageCaution").val(data.VoltageCaution);
                            $("#Address").val(data.Address);
                            window.X = data.X;
                            window.Y =  data.Y;
                             $("#myModal").css("display","block");
                            $("#myModal").modal('show');
                            mapIni();

                     

                        }, error: function (data) {

                            swal("", "获取基站数据失败，请稍后重试...", "error");
                        }
                    });
                }
                else
                {
                    swal("", "请选择基站...", "info");
                }
              }
        });
    }

    function StopOrEmpty(cellvalue, options)
    {
        if(cellvalue == '在停')
            return "<span class='badge badge-info'>在停</span>";
        else
            return "<span class='badge badge-danger'>未停</span>";
    }  

    function IsOnline(cellvalue, options)
    {
        if(cellvalue == '在线')
            return "<span class='badge badge-info'>在线</span>";
        else
            return "<span class='badge badge-danger'>离线</span>";
    }   
}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gomvEhrIsmCOhYbLpVNuQSug"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
<script type="text/javascript">
    $("#myModal").on("hidden.bs.modal", function () {
        //$(this).removeData("bs.modal");
        $("#myModal input").each(function () {
            if (this.type == "text") {
                $(this).val("");
            } else if (this.type == "checkbox") {
                $(this).attr("checked", false);
            }


        });
        $("#myModal select").each(function () {
            $(this).val(0);
        });

        $("#myModal textarea").each(function () {
            $(this).val("");
        });  
    });
    window.X = "";
    window.Y = "";
    function Save() {
        $.ajax({
            type: "POST",
            url: '../InspectionDevice/ProcessTransmitters/',
           
            data: {
                oper:Saveoper,
                Id: selectedId,
                TransmitterNumber: $("#TransmitterNumber").val(),
                TransmitterName: $("#TransmitterName").val(),
                VoltageCaution: $("#VoltageCaution").val(),
                Address: $("#Address").val(),
                X: window.X,
                Y: window.Y

            },
            success: function (data) {

                if (data.Success == false) {
                    swal("", data.Error.Message, "error");
                } else {
                    $('#myModal').modal('hide');
                    $("#grid-table").trigger("reloadGrid");
                }
                //window.location.href = "../Platform/Login";
            }, error: function () {

            }
        });

    }
    function mapIni() {
       
        var map = new BMap.Map("allmap");
        map.enableScrollWheelZoom();
        map.enableInertialDragging();
        map.enableContinuousZoom()
        var point = new BMap.Point(116.331398, 39.897445);
        map.centerAndZoom(point, 12);
  
        var geoc = new BMap.Geocoder();
        var geolocation = new BMap.Geolocation();
       // if (window.X == null)
            window.X = "";
        //if (window.Y == null)
            window.Y = "";
        if (window.X.length > 0 && window.Y.length > 0) {
            var mk = new BMap.Marker(new BMap.Point(window.X, window.Y), {
                enableDragging: true,
                raiseOnDrag: true
            });
            map.addOverlay(mk);
            map.panTo(new BMap.Point(window.X, window.Y));
           
            mk.addEventListener('dragend', function (e) {
                var pt = e.point;
                geoc.getLocation(pt, function (rs) {
                    var addComp = rs.addressComponents;
                    $("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
                    window.X = e.point.lng;
                    window.Y = e.point.lat;
                });
            })
            var pt = new BMap.Point(window.X, window.Y);
            geoc.getLocation(pt, function (rs) {
                var addComp = rs.addressComponents;
                $("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
            });
            //城市列表
            var size = new BMap.Size(10, 20);
            map.addControl(new BMap.CityListControl({
                anchor: BMAP_ANCHOR_TOP_RIGHT,
                offset: size
            }));
            //城市列表
        }
        else {
            //alert('fdsfdsfd');
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    //城市列表
                    var size = new BMap.Size(10, 20);
                    map.addControl(new BMap.CityListControl({
                        anchor: BMAP_ANCHOR_TOP_RIGHT,
                        offset: size
                    }));
                    //城市列表
                    var mk = new BMap.Marker(r.point, {
                        enableDragging: true,
                        raiseOnDrag: true
                    });
                    map.addOverlay(mk);
                    map.panTo(r.point);
                    //城市列表
                    var size = new BMap.Size(10, 20);
                    map.addControl(new BMap.CityListControl({
                        anchor: BMAP_ANCHOR_TOP_RIGHT,
                        offset: size
                    }));
                    //城市列表
                    mk.addEventListener('dragend', function (e) {
                        var pt = e.point;
                        geoc.getLocation(pt, function (rs) {
                            var addComp = rs.addressComponents;
                            $("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);


                            window.X = e.point.lng
                            window.Y = e.point.lat
                        });
                    })

                    var pt = r.point;
                    geoc.getLocation(pt, function (rs) {
                        var addComp = rs.addressComponents;
                        $("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
                        window.X = r.point.lng;
                        window.Y = r.point.lat;
                    });
                   
                }
                else {
                    alert('failed' + this.getStatus());
                }
            }, { enableHighAccuracy: true });
        }
    }
</script>