<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="P4OLMsmq" value=".\Private$\P4OLMsmq" />
    <!--操作日志-->
    <add key="P4DLMsmq" value=".\Private$\P4DLMsmq" />
    <!--数据日志-->
    <add key="P4AuditMsmq" value=".\Private$\P4AuditMsmq" />
    <!--审计日志-->
    <add key="P4SensorMsmq" value=".\Private$\P4SensorMsmq" />
    <!--车检器日志消息队列-->
    <add key="P4InducibleMsmq" value=".\Private$\P4InducibleMsmq" /> 
    <!--诱导日志消息队列-->
  </appSettings>
  <connectionStrings>
   

    <!--<add name="Default" connectionString="data source=119.23.32.183;initial catalog=P4V20;persist security info=True;user id=sa;password=Fxintel130903;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
     <!--<add name="Default" connectionString="data source=120.77.242.255;initial catalog=P4V20;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    <!--开始远程数据库服务器1-->
    <!--<add name="Default" connectionString="data source=193.112.152.164;initial catalog=F2V20Init;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="Default" connectionString="data source=192.168.3.124;initial catalog=P4V20;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    
     <add name="Default" connectionString="data source=123.60.44.222;initial catalog=F2V20Init;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    
    <!--<add name="Default" connectionString="data source=39.104.79.203;initial catalog=F2V20Init;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="Default" connectionString="data source=114.115.158.153;initial catalog=F2V20Init;persist security info=True;user id=sa;password=Litong123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    
     <!--<add name="Default" connectionString="data source=101.37.71.77;initial catalog=F2V20Init;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    
    <add name="F2Jobs" connectionString="data source=.\fxintelserver;initial catalog=F2V20;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <add name="F2Notification" connectionString="data source=.\fxintelserver;initial catalog=F2V20;persist security info=True;user id=sa;password=Fxintel123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <!--结束远程数据库服务器1-->
    <!--redis begin-->
    <add name="Abp.Redis.Cache" connectionString="localhost:6379,abortConnect=true,ssl=true" />
    <!--redis缓存地址-->
    <add name="Abp.Redis.Cache.DatabaseId" connectionString="1" />
    <!--redis数据库Id-->
    <!--redis end-->
    <!--MongoDB begin-->
    <add name="MongoDB" connectionString="Servers=localhost:27017;ConnectTimeout=30000;ConnectionLifetime=300000;MinimumPoolSize=8;MaximumPoolSize=256;Pooled=true" />
    <add name="MongoDBName" connectionString="local" />
    <!--MongoDB end-->

    <!--图片存储设置 begin-->
    <add name="PictureStore" connectionString="SqlServer" />
    <!--SqlServer存储sql server，MongoDB存储MongoDB-->
    <!--图片存储设置 end-->
    <!--Zookeeper配置参数 Begin-->
    <add name="ZookeeperFlag" connectionString="0" />
    <!--zookeeper服务启动标记，1启用，0禁用-->
    <add name="Zookeeper" connectionString="127.0.0.1:2181" />
    <add name="Zookeeper_MembersPath" connectionString="/root/election/sensor/members" />
    <add name="Zookeeper_LeaderPath" connectionString="/root/election/sensor/leader" />
    <add name="Zookeeper_Configuration_WebApi" connectionString="/root/Configuration/webapi" />
    <add name="ServerIdentity" connectionString="litong" />
    <!--Zookeeper配置参数 End-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="auto" uiCulture="auto" />
    <compilation debug="true" targetFramework="4.5.1" />
    <!--<authentication mode="Forms"></authentication>-->
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.34.0" newVersion="1.0.34.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.1" newVersion="2.1.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>