@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = L("DataLog");
    ViewBag.ActiveMenu = "DataLog";
}

<table id="grid-table"></table>
<div id="grid-pager"></div>

@section scriptsgrid
{
    jQuery(grid_selector).jqGrid({
    url: '../Logging/GetAllDataLogList',
    datatype: "json",
    mtype: "post",
    height: 'auto',
    autowidth: true,
    shrinkToFit:false,
    ajaxSelectOptions: { type: "GET" },
    colNames: [ 'ID', '操作用户', '操作时间', '操作类型', '操作名称', 'Key'],
    colModel: [
    { name: 'Id', index: 'Id', sorttype: "int", key: true, hidden: true },
    { name: 'CreationUserName', editable: false, index: 'CreationUserName' },    //LastModifierUserName
    { name: 'CreationTime', index: 'CreationTime', sorttype: "date", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } },
    { name: 'OperateType', index: 'OperateType', editable: true, search:true, formatter: ValueType, stype:'select', searchoptions: { dataUrl:'../Dictionarys/GetOperationTypeList/'+(new Date()).getMilliseconds(), sopt:['eq', 'ne']} },
    { name: 'Name', editable: true, index: 'Name' ,search: false},
    { name: 'EntityKey', index: 'EntityKey', hidden: true }
    ],

    viewrecords: true,
    rowNum: 10,
    rowList: [10, 20, 30],
    altRows: true,
    sortname: 'Id',
    sortorder: 'desc',
    //toppager: true,
    editurl: "../Logging/ProcessDataLog",
    multiselect: true,
    subGrid: true,
    subGridOptions: {
    "plusicon"  : "ui-icon-triangle-1-e",
    "minusicon" : "ui-icon-triangle-1-s",
    "openicon"  : "ui-icon-arrowreturn-1-e"
    },

    subGridRowExpanded: function (subgrid_id, row_id) {
    var subgrid_table_id, pager_id;
    subgrid_table_id = subgrid_id + "_t";
    pager_id = "p_" + subgrid_table_id;
    $("#" + subgrid_id).html(
    "<table id='" + subgrid_table_id
                            + "' class='scroll'></table><div id='"
                            + pager_id + "' class='scroll'></div>");
    jQuery("#" + subgrid_table_id).jqGrid(
    {
    url: "../Logging/GetAllDataLogItemsList/" + row_id,
    datatype: "json",
    colNames: ['ID', '字段', '字段名称', '原始值', '新值', '字段类型'],
    colModel: [
    { name: "Id", index: "Id", key: true, hidden: false },
    { name: 'Field', index: 'Field' },
    { name: 'FieldName', index: 'FieldName' },
    { name: 'OriginalValue', index: 'OriginalValue' },
    { name: 'NewValue', index: 'NewValue' },
    { name: 'DataType', index: 'DataType' }
    ],
    sortname: 'Id',
    rowNum : 50,
    width: '100%',
    sortorder: "asc",
    height: '150'
    });

    },
    pager: pager_selector,
    //multikey: "ctrlKey",
    multiboxonly: true,
    loadComplete: function () {
    var table = this;
    setTimeout(function () {
    styleCheckbox(table);
    updateActionIcons(table);
    updatePagerIcons(table);
    enableTooltips(table);
    }, 0);
    }
    });
}

@section scriptsbuttonbyself{
    function ValueType(cellvalue, options)
    {
    if(cellvalue == '新增')
    return "<span class='badge badge-info'>新增</span>";
    else if(cellvalue == '修改')
    return "<span class='badge badge-success'>修改</span>";
    else if(cellvalue == '删除')
    return "<span class='badge badge-danger'>删除</span>";
    else
    return cellvalue;
    }
}


