@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = L("SensorPOSContrast");
    ViewBag.ActiveMenu = "SensorPOSContrast";
}

<table id="grid-table"></table>
<div id="grid-pager"></div>

@section scriptsgrid
{
    //主表
    jQuery(grid_selector).jqGrid({
    url: '../Decision/SensorPOSContrastList',
    datatype: "json",
    ajaxSelectOptions: { type: "GET" },
    mtype: "post",
    height: 'auto',
    autowidth: true,
    shrinkToFit:false,
    colNames: ['操作', '停车场名称', '泊位段名称', '泊位号', '车牌号', 'Pos入场时间', 'Pos出场时间', 'Pos停车时长','Pos应收', '停车类型', '收费员名称', '地磁入场时间', '地磁出场时间','地磁停车时长', '地磁应收',  '车检器编号', '流水号', '创建时间'],
    colModel: [{
    name: 'myac', index: '', width: 80, fixed: true, sortable: true, resize: false, search: false,
    formatter: 'actions',hidden:window.rowedit,
    formatoptions: {
    keys: true,
    delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback }
    }
    },
    { name: 'ParkName', editable: false, index: 'ParkName',search:true,
    stype:'select', searchoptions: { dataUrl:'../Berthsecs/GetAllParkName/'+(new Date()).getMilliseconds(), sopt:['eq', 'ne']}},
    { name: 'BerthsecName', index: 'BerthsecName',search:true ,
    stype:'select', searchoptions: { dataUrl:'../Berthsecs/GetBerthsecListSelect/'+(new Date()).getMilliseconds(), sopt:['eq', 'ne']} },
    { name: 'BerthNumber', index: 'BerthNumber', search: true , width: 70},
    { name: 'PlateNumber', index: 'PlateNumber', search: false , width: 70,searchoptions:{sopt:['cn', 'nc', 'eq', 'ne']}},
    { name: 'PosCarInTime', index: 'PosCarInTime',search: false, sorttype: "date", formatter: ExFlag },
    { name: 'PosCarOutTime', index: 'PosCarOutTime',search: false,sorttype: "date", formatter: ExFlag},

    { name: 'PosStopTimes', index: 'PosStopTimes', search: true , width: 90},
    { name: 'PosMoney', index: 'PosMoney', search: true , width: 90},
    { name: 'StopTypeName', index: 'StopTypeName', search: true, formatter: ChangeStopType , width: 90},
    { name: 'InOperaName', index: 'InOperaName', search: true , width: 90},
    { name: 'SensorCarInTime', index: 'SensorCarInTime',search: false, sorttype: "date", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }},
    { name: 'SensorCarOutTime', index: 'SensorCarOutTime',search: false,sorttype: "date", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }},
    { name: 'SensorStopTimes', index: 'SensorStopTimes', search: true , width: 90},
    { name: 'SensorMoney', index: 'SensorMoney', search: true , width: 90},

    { name: 'SensorNumber', index: 'SensorNumber',search: true, width: 120 },
    { name: 'Indicate', index: 'Indicate',search: true, width: 60 },
    { name: 'CreationTime', index: 'CreationTime',search: true, sorttype: "date", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' },
    searchoptions: {dataInit:datePick
    , attr:{title:'选择日期'}, sopt:['lt', 'gt']}
    }
    ],
    viewrecords: true,
    rowNum: 10,
    rowList: [10, 20, 30],
    pager: pager_selector,
    altRows: true,
    sortname: 'Id',
    sortorder: 'desc',
    toppager: false,
    editurl: "../SensorBusinessDetail/ProcessSensorBusinessDetail",
    multiselect: true,
    //multikey: "ctrlKey",
    userDataOnFooter : true,//汇总
    footerrow:true,//汇总
    multiboxonly: true,
    loadComplete: function () {
    var table = this;
    setTimeout(function () {
    styleCheckbox(table);
    updateActionIcons(table);
    updatePagerIcons(table);
    enableTooltips(table);
    }, 0);
    }
    });
}

@section scriptsbuttonbyself{
    function ChangeStopType(cellvalue, options)
    {
    if(cellvalue == '包月停车')
    return "<span class='badge badge-success'>"+ cellvalue +"</span>";
    else
    return cellvalue;
    }


    function ExFlag(cellvalue, options)
    {
    if(cellvalue == null)
    return '';
    if(cellvalue.indexOf("&") > 0)
    return "<span class='badge badge-danger'>"+cellvalue.replace('&', '')+"</span>";
    else
    return cellvalue;
    }
}
