@using P4.Web.Models
@model IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = L("Control");
    ViewBag.ActiveMenu = "Control";
}

@section styles{
<link rel="stylesheet" href="~/assets/css/bootstrapSwitch.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
}

@section scriptsindex{
<script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<script src="~/assets/js/chosen.jquery.min.js"></script>
}

<div class="row" style="margin:10px 0; display:flex; align-items: center; justify-content: flex-start;">
    <div>
        <span>停车场：</span>
        <select style="width:150px;" id="parklist">
            <option disabled selected value>- 请选择停车场</option>
        </select>
    </div>
    <div style="margin-left: 30px;">
        <span>泊位段：</span>
        <select style="width:150px;" id="bwd">
            <option disabled selected value>- 请选择泊位段</option>
        </select>
    </div>
    <div style="display: flex; align-items: center; margin-left: 30px;">
        <div>日期：</div>
        <div class="input-group">
            <input class="form-control date-picker" autocomplete="off" id="operateDateBegin" type="text"
                data-date-format="yyyy-mm-dd" />
            <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
            </span>
        </div>
        <div>&emsp;到&emsp;</div>
        <div class="input-group">
            <input class="form-control date-picker" autocomplete="off" id="operateDateEnd" type="text"
                data-date-format="yyyy-mm-dd" />
            <span class="input-group-addon">
                <i class="icon-calendar bigger-110"></i>
            </span>
        </div>
    </div>
    <div style="margin-left: 30px;">
        <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-sm btn-primary"
            autocomplete="off">
            搜索
        </button>
    </div>
</div>
<div class="contentTitle"
    style="display:flex; align-items: center; justify-content: space-evenly; width: 100%; height: 100px; margin-top: 40px;">
    <div
        style="width: 23%; background: #3f51b5; height: 100px; display:flex; align-items: center; justify-content: space-around; padding: 20px 30px">
        <div>
            <img src="~/assets/images/zongdingdan.png" width="60" height="60" style="border-radius: 50%;">
        </div>
        <div style="font-size: 20px; color: white;">总订单 <span id="DetailNum">0</span>条</div>
    </div>
    <div
        style="width: 23%; background: #eaf8fe; height: 100px; display:flex; align-items: center; justify-content: space-around; padding: 20px 30px">
        <div>
            <img src="~/assets/images/zongbowei.png" width="60" height="60" style="border-radius: 50%;">
        </div>
        <div style="font-size: 20px; color: #4fc3f7;">总泊位 <span id="BerthNum">0</span>个</div>
    </div>
    <div
        style="width: 23%; background: #eff0f9; height: 100px; display:flex; align-items: center; justify-content: space-around; padding: 20px 30px">
        <div>
            <img src="~/assets/images/zongshebei.png" width="60" height="60" style="border-radius: 50%;">
        </div>
        <div style="font-size: 20px; color: #7986cb;">总设备 <span id="EquipmentNum">0</span>台</div>
    </div>
    <div
        style="width: 23%; background: #fff7e1; height: 100px; display:flex; align-items: center; justify-content: space-around; padding: 20px 30px">
        <div>
            <img src="~/assets/images/baojing.png" width="60" height="60" style="border-radius: 50%;">
        </div>
        <div style="font-size: 20px; color: #ffc437;">报警 <span id="AlertNum">0</span>次</div>
    </div>
</div>
<div id="someline" style="width:100%; height: 300px; margin-top: 40px;">


    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/echarts"></script>
    <script type="text/javascript" src="~/assets/js/bootstrapSwitch.js"></script>
    <script type="text/javascript" src="~/assets/js/Echarts/dist/esl.js"></script>
    <script type="text/javascript" src="~/assets/js/Echarts/dist/esl.js"></script>
    <script type="text/javascript" src="~/assets/js/Echarts/dist/echarts.js"></script>
    <script type="text/javascript" src="~/assets/js/Echarts/dist/chart/line.js"></script>

    <script>
        $(function () {
            ParkShow();
            GetEqDetalControlInfo();
        });
        function ParkShow() {
            $.ajax({
                type: "post",
                url: "/VideoConfig/SelectParkInfoList",
                data: {},
                dataType: "json",
                success: function (data) {
                    var strVar = "";
                    if (data.result == "success") {
                        data.rows.unshift({ Id: '', ParkName: '全部' });
                        for (i = 0; i < data.rows.length; i++) {
                            strVar += "<option value=\"" + data.rows[i].Id + "\">" + data.rows[i].ParkName + "</option>";
                        }
                    }
                    $("#parklist").html(strVar);
                    if (data.rows.length) {
                        var ParkId = data.rows[0].Id;
                        BwdShow(ParkId);
                    }
                }
            });
        }
        function GetEqDetalControlInfo(StartTime, EndTime, ParkId, BerthsecId) {
            var input = { "StartTime": StartTime, "EndTime": EndTime, "ParkId": ParkId, "BerthsecId": BerthsecId };
            $.ajax({
                type: "post",
                url: "/CarVideoConfig/GetEqDetalControlInfo",
                data: { input: JSON.stringify(input) },
                dataType: "json",
                success: function (data) {
                    if (data.result == "success") {
                        $("#DetailNum").text(data.rows.DetailNum)
                        $("#BerthNum").text(data.rows.BerthNum)
                        $("#EquipmentNum").text(data.rows.EquipmentNum)
                        $("#AlertNum").text(data.rows.AlertNum)
                    }
                }
            });
        }
        function BwdShow(ParkId) {
            var input = { "ParkId": ParkId };
            $.ajax({
                type: "post",
                url: "/VideoConfig/SelectBerthsecsInfoList",
                data: { input: JSON.stringify(input) },
                dataType: "json",
                success: function (data) {
                    var strVar = "";
                    if (data.result == "success") {
                        data.rows.unshift({ Id: '', BerthsecName: '全部' });
                        for (i = 0; i < data.rows.length; i++) {
                            strVar += "<option value=\"" + data.rows[i].Id + "\">" + data.rows[i].BerthsecName + "</option>";
                        }
                    }
                    $("#bwd").html(strVar);
                }
            });
        }
        $("#parklist").change(function () {
            var ParkId = $(this).find("option:selected").val();
            BwdShow(ParkId);
        });
        $("#bwd").change(function () {
            //var BerthsecId = $(this).find("option:selected").val();
            //BwhShow(BerthsecId);
        });
        $('#myButton').on('click', function () {
            var StartTime = $("#operateDateBegin").val() + " 00" + ":00" + ":00"
            var EndTime = $("#operateDateEnd").val() + " 23" + ":59" + ":59"
            var ParkId = $("#parklist").find("option:selected").val();
            var BerthsecId = $("#bwd").find("option:selected").val();
            GetEqDetalControlInfo(StartTime, EndTime, ParkId, BerthsecId)
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
        @* var myDate = new Date();
            myDate.toLocaleDateString()

            var operateDateBegin = myDate.getFullYear() + "-"
            + ((myDate.getMonth() + 1) < 10 ? ("0" + (myDate.getMonth() + 1).toString()) : (myDate.getMonth() + 1)) + "-"
            + (myDate.getDate() < 10 ? ("0" + myDate.getDate().toString()) : myDate.getDate()) + " 00" + ":00" + ":00";
            var operateDateEnd = myDate.getFullYear() + "-"
            + ((myDate.getMonth() + 1) < 10 ? ("0" + (myDate.getMonth() + 1).toString()) : (myDate.getMonth() + 1)) + "-"
            + (myDate.getDate() < 10 ? ("0" + (myDate.getDate()).toString()) : myDate.getDate()) + " 23" + ":59" + ":59"; *@
                //$('#operateDateBegin').val(operateDateBegin);
                //$('#operateDateEnd').val(operateDateEnd);
                $('#operateDateBegin').datetimepicker({
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });
            $('#operateDateEnd').datetimepicker({
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var chart = document.getElementById("someline");
            var echart = echarts.init(chart);
            var option = {
                title: {
                    text: '近10天订单变化趋势'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['总订单', '有效订单', '无效订单']
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: ['10-16', '10-17', '10-18', '10-19', '10-20', '10-21', '10-22', '10-23', '10-24', '10-25']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '无效订单',
                        type: 'line',
                        stack: '订单量',
                        areaStyle: { normal: {} },
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    },
                    {
                        name: '有效订单',
                        type: 'line',
                        stack: '订单量',
                        areaStyle: { normal: {} },
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    },
                    {
                        name: '总订单',
                        type: 'line',
                        stack: '订单量',
                        areaStyle: { normal: {} },
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                    }
                ]
            };
            $.ajax({
                type: "post",
                url: "/CarVideoConfig/GetEqDetalChart",
                data: { input: JSON.stringify({}) },
                dataType: "json",
                success: function (data) {
                    if (data.result == "success") {
                        option.xAxis[0].data = data.rows.Alldd[0]
                        option.series[0].data = data.rows.Wxdd[1]
                        option.series[1].data = data.rows.Yxdd[1]
                        option.series[2].data = data.rows.Alldd[1]
                        echart.setOption(option);
                    }
                }
            });
        });
    </script>
