@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = L("FAQManagement");
    ViewBag.ActiveMenu = "FAQManagement";
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="tabbable">
            <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#faq-tab-1">
                        <i class="blue icon-question-sign bigger-120"></i>
                        系统设置
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#faq-tab-2">
                        <i class="green icon-user bigger-120"></i>
                        用户管理
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#faq-tab-3">
                        <i class="orange icon-credit-card bigger-120"></i>
                        系统分析
                    </a>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="purple icon-magic bigger-120"></i>

                        系统设置
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-lighter dropdown-125">
                        <li>
                            <a data-toggle="tab" href="#faq-tab-4"> 用户管理 </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#faq-tab-4"> 系统设置 </a>
                        </li>
                    </ul>
                </li><!-- /.dropdown -->
            </ul>

            <div class="tab-content no-border padding-24">
                <div id="faq-tab-1" class="tab-pane fade in active">
                    <h4 class="blue">
                        <i class="icon-ok bigger-110"></i>
                        系统设置问题
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                    <i class="icon-user bigger-130"></i>
                                    &nbsp; 如何设置用户公司名称，初始化密码，上下班时间?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-1-1">
                                <div class="panel-body">
                                    如何设置用户公司名称，初始化密码，上下班时间。
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-left pull-right" data-icon-hide="icon-chevron-down" data-icon-show="icon-chevron-left"></i>

                                    <i class="icon-sort-by-attributes-alt"></i>
                                    &nbsp; 如何设置系统日志记录方式?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-1-2">
                                <div class="panel-body">
                                    <div id="faq-list-nested-1" class="panel-group accordion-style1 accordion-style2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#faq-list-1-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                                    &nbsp;
                                                    如何设置系统日志记录方式？
                                                </a>
                                            </div>

                                            <div class="panel-collapse collapse" id="faq-list-1-sub-1">
                                                <div class="panel-body">
                                                    如何设置系统日志记录方式。
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#faq-list-1-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                                    &nbsp;
                                                    如何设置系统日志记录方式？
                                                </a>
                                            </div>

                                            <div class="panel-collapse collapse" id="faq-list-1-sub-2">
                                                <div class="panel-body">
                                                    如何设置系统日志记录方式。
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#faq-list-1-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    <i class="icon-plus smaller-80 middle" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                                    &nbsp;
                                                    如何设置系统日志记录方式?
                                                </a>
                                            </div>

                                            <div class="panel-collapse collapse" id="faq-list-1-sub-3">
                                                <div class="panel-body">
                                                    如何设置系统日志记录方式.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div id="faq-tab-2" class="tab-pane fade">
                    <h4 class="blue">
                        <i class="green icon-user bigger-110"></i>
                        用户管理问题
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-2-1" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>
                                    &nbsp;
                                    如何新增用户信息，关联到商户?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-2-1">
                                <div class="panel-body">
                                    如何新增用户信息，关联到商户。
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-2-2" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>
                                    &nbsp;
                                    如何新增用户信息，关联到商户?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-2-2">
                                <div class="panel-body">
                                    如何新增用户信息，关联到商户。
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="faq-tab-3" class="tab-pane fade">
                    <h4 class="blue">
                        <i class="orange icon-credit-card bigger-110"></i>
                        系统分析
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-3" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-3-1" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    如何通过系统分析生成经营报表?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-3-1">
                                <div class="panel-body">
                                    如何通过系统分析生成经营报表。
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-3-2" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    如何通过系统分析生成经营报表?
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-3-2">
                                <div class="panel-body">
                                    如何通过系统分析生成经营报表。
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="faq-tab-4" class="tab-pane fade">
                    <h4 class="blue">
                        <i class="purple icon-magic bigger-110"></i>
                        用户管理
                    </h4>

                    <div class="space-8"></div>

                    <div id="faq-list-4" class="panel-group accordion-style1 accordion-style2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-4-1" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-hand-right" data-icon-hide="icon-hand-down" data-icon-show="icon-hand-right"></i>
                                    &nbsp;
                                    用户管理？
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-4-1">
                                <div class="panel-body">
                                    用户管理。
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-4-2" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-frown bigger-120" data-icon-hide="icon-smile" data-icon-show="icon-frown"></i>
                                    &nbsp;
                                    用户管理？
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-4-2">
                                <div class="panel-body">
                                    用户管理。
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="#faq-4-3" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <i class="icon-plus smaller-80" data-icon-hide="icon-minus" data-icon-show="icon-plus"></i>
                                    &nbsp;
                                    用户管理？
                                </a>
                            </div>

                            <div class="panel-collapse collapse" id="faq-4-3">
                                <div class="panel-body">
                                    用户管理。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
