@{
Layout = "~/Views/Shared/_LayoutPage.cshtml";
ViewBag.Title = L("VideoSpEbProcessDetails");
ViewBag.ActiveMenu = "VideoSpEbProcessDetails";
}


@section styles
{

<link href="~/assets/css/bootstrapSwitch.css" rel="stylesheet" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
    .SelectBG {
        background-color: #f00;
    }

    .pointer {
        cursor: pointer;
    }
</style>

}



@section scriptsindex{
<script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/daterangepicker.min.js"></script>
}

<div class="row" style="margin:10px 0">
    <table style="width:100%;" border="0">
        <tr>
            <td style="width:7%;" align="right">区域：</td>
            <td style="width:12%;">
                <select class="ls-wp-fullwidth-container region-chosen-select" id="RegionList" name="RegionId"
                    data-placeholder="选择区域名称..." style="width:150px;">

                </select>
            </td>
            <td style="width:6%;" align="right">停车场：</td>
            <td style="width:13%;">
                <select class="ls-wp-fullwidth-container park-chosen-select" id="ParkList" name="ParkId"
                    data-placeholder="选择停车场名称..." style="width:150px;">

                </select>
            </td>
            <td style="width:6%;" align="right">泊位段：</td>
            <td style="width:13%;">
                <select class="ls-wp-fullwidth-container berthsec-chosen-select" id="BerthsecList" name="BerthsecId"
                    data-placeholder="选择泊位段名称..." style="width:150px;">

                </select>
            </td>
            <td style="width:6%;" align="right">泊位号：</td>
            <td style="width:16%;">
                <input id="BerthNumber" type="text" />
            </td>
            <td style="width:6%;" align="right">设备编号：</td>
            <td style="width:13%;">
                <input id="DeviceNumber" type="text" style="width:150px;" />
            </td>
        </tr>
        <tr>
            <td style="width:7%;" align="right">车牌号：</td>
            <td style="width:14%;">
                <input id="PlateNumber" type="text" style="width:150px;" />
            </td>
            <td style="width:7%;" align="right">发送状态：</td>
            <td style="width:12%;">
                <select class="ls-wp-fullwidth-container postState-chosen-select" id="postStateList" name="postState"
                    data-placeholder="选择发送状态..." style="width:150px;">
                    <option value=''>全部</option>
                    <option value='1'>成功</option>
                    <option value='2'>发送中</option>
                    <option value='0'>失败</option>
                </select>
            </td>
            <td style="width:8%;" align="right">入场时间：</td>
            <td style="width:16%;">
                <div class="row">
                    <div class="col-xs-9 col-sm-11">
                        <div class="input-group">
                            <input class="form-control" id="operateDateBegin" type="text"
                                data-date-format="yyyy-mm-dd hh:ii" />
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td style="text-align: center;width:5%;">到&nbsp;</td>
            <td style="width:16%;">
                <div class="row">
                    <div class="col-xs-9 col-sm-11">
                        <div class="input-group">
                            <input class="form-control" id="operateDateEnd" type="text"
                                data-date-format="yyyy-mm-dd hh:ii" />
                            <span class="input-group-addon">
                                <i class="icon-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td colspan="2" style="text-align: left;">
                <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-sm btn-primary"
                    autocomplete="off">
                    搜索
                </button>
            </td>
        </tr>
    </table>
</div>


<table id="grid-table"></table>
<div id="grid-pager"></div>

<script type="text/javascript">
    var regionList = [{
        Id: '',
        RegionName: '全部'
    }];

    var parkingList = [{
        Id: '',
        ParkName: '全部'
    }];

    var berthSecList = [{
        Id: '',
        BerthsecName: '全部'
    }];

    $(document).ready(function () {

        getRegion();
        getParking();
        getBerthSec()

        var myDate = new Date();
        myDate.toLocaleDateString();
        var operateDateBegin = myDate.getFullYear() + "-" +
            ((myDate.getMonth() + 1) < 10 ? ("0" + (myDate.getMonth() + 1).toString()) : (myDate.getMonth() +
                1)) + "-" +
            (myDate.getDate() < 10 ? ("0" + myDate.getDate().toString()) : myDate.getDate());
        var operateDateEnd = myDate.getFullYear() + "-" +
            ((myDate.getMonth() + 1) < 10 ? ("0" + (myDate.getMonth() + 1).toString()) : (myDate.getMonth() +
                1)) + "-" +
            (myDate.getDate() < 10 ? ("0" + (myDate.getDate()).toString()) : myDate.getDate());
        $('#operateDateBegin').val(operateDateBegin + " 00:00");
        $('#operateDateEnd').val(operateDateEnd + " 23:59");

        $('#operateDateBegin').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            linkFormat: "yyyy-mm-dd hh:ii",
            format: 'yyyy-mm-dd hh:ii'
        });
        $('#operateDateEnd').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            linkFormat: "yyyy-mm-dd hh:ii",
            format: 'yyyy-mm-dd hh:ii'
        });

    });

    function getRegion() {
        var that = this;
        var param = {
            rows: 100,
            page: 1,
            sidx: 'Id',
            sord: 'desc'
        };
        $.ajax({
            type: "post",
            url: "/Regions/GetAllRegionsList",
            data: param,
            success: function (data) {
                that.regionList = new Array();
                that.regionList.push({
                    Id: '',
                    RegionName: '全部'
                });
                var rows = data.rows;
                if (rows.length != 0) {
                    that.regionList = that.regionList.concat(rows);
                }
                for (i = 0; i < that.regionList.length; i++) {
                    $("#RegionList").append("<option value='" + that.regionList[i].Id + "'>" + that
                        .regionList[i].RegionName + "</option>");
                }
                $('.region-chosen-select').chosen();
            }
        });
    }

    function getParking() {
        var that = this;
        $.ajax({
            type: "post",
            url: "/VideoConfig/SelectParkInfoList",
            success: function (data) {
                that.parkingList = new Array();
                that.parkingList.push({
                    Id: '',
                    ParkName: '全部'
                });
                var strVar = "";
                if (data.result == "success") {
                    var rows = data.rows;
                    if (rows.length != 0) {
                        that.parkingList = that.parkingList.concat(rows);
                        console.log(that.parkingList);
                    }
                }
                for (i = 0; i < that.parkingList.length; i++) {
                    $("#ParkList").append("<option value='" + that.parkingList[i].Id + "'>" + that
                        .parkingList[i].ParkName + "</option>");
                }
                $('.park-chosen-select').chosen();
            }
        });
    }

    function getBerthSec() {
        var that = this;
        $.ajax({
            type: "post",
            url: "/VideoConfig/SelectBerthsecsInfoList",
            data: {
                input: ''
            },
            dataType: "json",
            success: function (data) {
                that.berthSecList = new Array();
                that.berthSecList.push({
                    Id: '',
                    BerthsecName: '全部'
                });
                var strVar = "";
                if (data.result == "success") {
                    var rows = data.rows;
                    if (rows.length != 0) {
                        that.berthSecList = that.berthSecList.concat(rows);
                        console.log(that.berthSecList);
                    }
                }
                for (i = 0; i < that.berthSecList.length; i++) {
                    $("#BerthsecList").append("<option value='" + that.berthSecList[i].Id + "'>" + that
                        .berthSecList[i].BerthsecName + "</option>");
                }
                $('.berthsec-chosen-select').chosen();
            }
        });
    }

    $('#myButton').on('click', function () {
        var param = {
            'RegionId': $(".region-chosen-select").val(),
            'ParkId': $(".park-chosen-select").val(),
            'BerthsecId': $(".berthsec-chosen-select").val(),
            'BerthNumber': $('#BerthNumber').val(),
            'PlateNumber': $('#PlateNumber').val(),
            'PostState': $(".postState-chosen-select").val(),
            'VedioEqNumber': $('#DeviceNumber').val(),
            'StartTime': $('#operateDateBegin').val(),
            'EndTime': $('#operateDateEnd').val(),
            'filters': null
        };
        console.log(param);
        jQuery('#grid-table').jqGrid('setGridParam', {
            ajaxSelectOptions: {
                type: "GET",
                async: false
            },
            ajaxGridOptions: {
                type: "POST",
                async: false
            },
            url: '../VideoEquipBusinessDetail/GetVideoEquipBusinessDetail',
            datatype: 'json',
            postData: {
                'RegionId': $(".region-chosen-select").val(),
                'ParkId': $(".park-chosen-select").val(),
                'BerthsecId': $(".berthsec-chosen-select").val(),
                'BerthNumber': $('#BerthNumber').val(),
                'PlateNumber': $('#PlateNumber').val(),
                'PostState': $(".postState-chosen-select").val(),
                'VedioEqNumber': $('#DeviceNumber').val(),
                'StartTime': $('#operateDateBegin').val(),
                'EndTime': $('#operateDateEnd').val(),
                'filters': null
            },
            page: 1
        }).trigger('reloadGrid');
    });

    function recoverAudit() {
        var ids = jQuery("#grid-table").jqGrid('getGridParam', 'selarrrow');
        console.log(ids);
        if (ids.length == 0) {
            swal({
                title: "请选择至少一条订单！",
                timer: 1000,
                type: "error",
                showConfirmButton: false
            });
            return;
        }
        swal({
            title: "是否恢复为待审核订单?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "取消",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var idsStr = ids.join(",");
            var param = {
                "AuditStatus": 2,
                "Ids": idsStr,
                "PostState": ''
            };
            console.log(param);
            $.ajax({
                type: "post",
                url: "/VideoConfig/ProcessAuditStatus",
                data: {
                    input: JSON.stringify(param)
                },
                dataType: "json",
                success: function (data) {
                    if (data.result == 'success') {
                        swal({
                            title: "恢复成功！",
                            timer: 1000,
                            type: "success",
                            showConfirmButton: false
                        });
                        $("#grid-table").trigger("reloadGrid");
                    } else {
                        swal({
                            title: "恢复失败！",
                            timer: 1000,
                            type: "error",
                            showConfirmButton: false
                        });
                    }
                },
                error: function (data) {
                    swal({
                        title: "恢复失败！",
                        timer: 1000,
                        type: "error",
                        showConfirmButton: false
                    });
                }
            });
        });
    }

    function postOrder() {
        var ids = jQuery("#grid-table").jqGrid('getGridParam', 'selarrrow');
        console.log(ids);
        if (ids.length == 0) {
            swal({
                title: "请选择至少一条订单！",
                timer: 1000,
                type: "error",
                showConfirmButton: false
            });
            return;
        }
        var tag = false;
        ids.forEach(element => {
            var ret = jQuery("#grid-table").jqGrid('getRowData', element);
            console.log(ret);
            if (ret.PostState != 0) {
                tag = true;
                swal({
                    title: "选择的订单里包含了已发送/发送中的订单，请勿重复发送！",
                    timer: 2000,
                    type: "error",
                    showConfirmButton: false
                });
                return;
            }
        });
        if (tag) return;
        swal({
            title: "是否批量发送订单?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "取消",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var idsStr = ids.join(",");
            var param = {
                "Ids": idsStr
            };
            console.log(param);
            $.ajax({
                type: "post",
                url: "/VideoConfig/RePostProcess",
                data: {
                    input: JSON.stringify(param)
                },
                dataType: "json",
                success: function (data) {
                    if (data.result == 'success') {
                        swal({
                            title: "发送成功！",
                            timer: 1000,
                            type: "success",
                            showConfirmButton: false
                        });
                        $("#grid-table").trigger("reloadGrid");
                    } else {
                        swal({
                            title: "发送失败！",
                            timer: 1000,
                            type: "error",
                            showConfirmButton: false
                        });
                    }
                },
                error: function (data) {
                    swal({
                        title: "发送失败！",
                        timer: 1000,
                        type: "error",
                        showConfirmButton: false
                    });
                }
            });
        });
    }

    function showImg(src) {
        if (src == "") {
            layer.msg("没有图片！");
            return;
        }
        src = "/VideoPic/" + src;
        var img = new Image();
        img.onload = function () {
            var max_height = $(window).height() - 100;
            var max_width = $(window).width();
            var rate1 = max_height / img.height;
            var rate2 = max_width / img.width;
            var rate3 = 1;
            var rate = Math.min(rate1, rate2, rate3);
            var imgHeight = img.height * rate;
            var imgWidth = img.width * rate;
            var imgHtml = "<img src='" + src + "' width='" + imgWidth + "px' height='" + imgHeight + "px'/>";
            layer.open({
                type: 1,
                title: false,
                closeBtn: 2,
                area: ['auto', 'auto'],
                skin: 'layui-layer-nobg',
                shadeClose: true,
                content: imgHtml
            });
        }
        img.src = src;
    }
    @section scriptsgrid {

        window.edit = true;

        function alarmFormatter(cellvalue, options, rowdata) {
            if (rowdata.OssPathURL != null && rowdata.OssPathURL.length != 0) {
                rowdata.OssPathURL = rowdata.OssPathURL.replace(/\\/g, '/');
                return '<img src=/VideoPic' + rowdata.OssPathURL + ' id="img' + rowdata.Id +
                    '" style="width: 80px;  background-size:auto" class="pointer" onClick="showImg(\'' + rowdata
                    .OssPathURL + ' \')" />';
            } else {
                return "";
            }
        }

        function alarmFormatterOut(cellvalue, options, rowdata) {
            if (rowdata.OutOssPathURL != null && rowdata.OutOssPathURL.length != 0) {
                rowdata.OutOssPathURL = rowdata.OutOssPathURL.replace(/\\/g, '/');
                return '<img src=/VideoPic' + rowdata.OutOssPathURL + ' id="img' + rowdata.Id +
                    '" style="width: 80px;  background-size:auto" class="pointer" onClick="showImg(\'' + rowdata
                    .OutOssPathURL + '\')" />';
            } else {
                return "";
            }
        }

        function alarmFormatterDetail(cellvalue, options, rowdata) {
            if (rowdata.DetailOssPathURL != null && rowdata.DetailOssPathURL.length != 0) {
                rowdata.DetailOssPathURL = rowdata.DetailOssPathURL.replace(/\\/g, '/');
                return '<img src=/VideoPic' + rowdata.DetailOssPathURL + ' id="img' + rowdata.Id +
                    '" style="width: 80px;  background-size:auto" class="pointer" onClick="showImg(\'' + rowdata
                    .DetailOssPathURL + '\')" />';
            } else {
                return "";
            }
        }

        function alarmFormatterFix(cellvalue, options, rowdata) {
            if (rowdata.FixOssPathURL != null && rowdata.FixOssPathURL.length != 0) {
                rowdata.FixOssPathURL = rowdata.FixOssPathURL.replace(/\\/g, '/');
                return '<img src=/VideoPic' + rowdata.FixOssPathURL + ' id="img' + rowdata.Id +
                    '" style="width: 80px;  background-size:auto" class="pointer" onClick="showImg(\'' + rowdata
                    .FixOssPathURL + '\')" />';
            } else {
                return "";
            }
        }


        function VedioEqType(cellvalue, options) {
            switch (cellvalue) {
                case 1:
                    return "视频桩";
                    break;
                case 3:
                    return "路牙机";
                    break;
                case 4:
                    return "高位视频";
                    break;
                default:
                    return "";
            }
        }

        function formatStopTime(cellvalue, options, rowObject) {
            if (rowObject.CarOutTime == null || rowObject.CarOutTime.length == 0) {
                return "";
            }
            return cellvalue;
        }

        function PostState(cellvalue, options) {
            switch (cellvalue) {
                case 0:
                    return '<span class="fa fa-times-circle" style="color:red""></span>';
                    break;
                case 1:
                    return '<span class="fa fa-check-circle-o" style="color:green""></span>';
                    break;
                case 2:
                    return "<span class='badge badge-info'>发送中</span>";
                    break;
                default:
                    return "";
                    break;
            }
        }

        //主表
        jQuery(grid_selector).jqGrid({
            url: '../VideoEquipBusinessDetail/GetVideoEquipBusinessDetail',
            datatype: "json",
            ajaxSelectOptions: {
                type: "GET"
            },
            mtype: "post",
            postData: {
                'VedioEqType': '1',
                'AuditStatus': 2,
                'StartTime': $('#operateDateBegin').val(),
                'EndTime': $('#operateDateEnd').val(),
            },
            height: 'auto',
            autowidth: true,
            shrinkToFit: false,
            colNames: ['ID', '发送状态', '发送状态值', '区域名称', '停车场名称', '泊位段名称', '泊位ID', '泊位号', '视频设备编号', '设备类型', '置信度',
                '车牌号', '车辆入场时间', '车辆出场时间', '停车时长', '入场照片', '出场照片', '特写照片', '修正照片'
            ],
            colModel: [{
                    name: 'Id',
                    index: 'Id',
                    search: false,
                    sorttype: "int",
                    key: true,
                    hidden: true
                },
                {
                    name: 'PostState',
                    index: 'PostState',
                    width: 80,
                    align: "center",
                    formatter: PostState,
                    search: false,
                    hidden: true
                },
                {
                    name: 'PostState',
                    index: 'PostState',
                    hidden: true
                },
                {
                    name: 'RegionName',
                    index: 'RegionName',
                    search: false
                },
                {
                    name: 'ParkName',
                    editable: false,
                    index: 'ParkName',
                    search: true,
                    stype: 'select',
                    searchoptions: {
                        dataUrl: '../Berthsecs/GetAllParkName/' + (new Date()).getMilliseconds(),
                        sopt: ['eq']
                    }
                },
                {
                    name: 'BerthsecName',
                    index: 'BerthsecName',
                    search: true,
                    stype: 'select',
                    searchoptions: {
                        dataUrl: '../Berthsecs/GetBerthsecListSelect/' + (new Date()).getMilliseconds(),
                        sopt: ['eq']
                    }
                },
                {
                    name: 'BerthId',
                    index: 'BerthId',
                    search: true,
                    width: 70
                },
                {
                    name: 'BerthNumber',
                    index: 'BerthNumber',
                    search: true,
                    width: 100
                },
                {
                    name: 'VedioEqNumber',
                    index: 'VedioEqNumber',
                    search: true
                },
                {
                    name: 'VedioEqType',
                    index: 'VedioEqType',
                    formatter: VedioEqType,
                    search: false
                },
                {
                    name: 'Trust',
                    index: 'Trust',
                    search: false,
                    width: 85
                },
                {
                    name: 'PlateNumber',
                    index: 'PlateNumber',
                    editable: true,
                    search: false,
                    searchoptions: {
                        sopt: ['eq']
                    }
                },
                {
                    name: 'CarInTime',
                    index: 'CarInTime',
                    search: false,
                    sorttype: "date",
                    formatter: 'date',
                    formatoptions: {
                        srcformat: 'Y-m-d H:i:s',
                        newformat: 'Y-m-d H:i:s'
                    }
                },
                {
                    name: 'CarOutTime',
                    index: 'CarOutTime',
                    search: false,
                    sorttype: "date",
                    formatter: 'date',
                    formatoptions: {
                        srcformat: 'Y-m-d H:i:s',
                        newformat: 'Y-m-d H:i:s'
                    }
                },
                {
                    name: 'StopTimes',
                    index: 'StopTimes',
                    formatter: formatStopTime,
                    search: false
                },
                {
                    name: 'OssPathURL',
                    index: 'OssPathURL',
                    width: 120,
                    align: "center",
                    sortable: false,
                    editable: false,
                    formatter: alarmFormatter,
                    search: false
                },
                {
                    name: 'OutOssPathURL',
                    index: 'OutOssPathURL',
                    width: 120,
                    align: "center",
                    sortable: false,
                    editable: false,
                    formatter: alarmFormatterOut,
                    search: false
                },
                {
                    name: 'DetailOssPathURL',
                    index: 'DetailOssPathURL',
                    width: 120,
                    align: "center",
                    sortable: false,
                    editable: false,
                    formatter: alarmFormatterDetail,
                    search: false
                },
                {
                    name: 'FixOssPathURL',
                    index: 'FixOssPathURL',
                    width: 120,
                    align: "center",
                    sortable: false,
                    editable: false,
                    formatter: alarmFormatterFix,
                    search: false
                }
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            sortname: 'Id',
            sortorder: "desc",
            toppager: false,
            editurl: "../VideoEquipBusinessDetail/ProcessVideoEquipBusinessDetail?PostState=2",
            multiselect: true,
            //multikey: "ctrlKey",
            multiboxonly: true,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    styleCheckbox(table);
                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
            }
        });

    }

    @section scriptsbuttonbyself {

        // // 发送订单
        // jQuery(grid_selector).navButtonAdd(pager_selector, {
        //     buttonicon: "fa fa-share blue",
        //     title: "批量发送",
        //     caption: "批量发送",
        //     position: "last",
        //     onClickButton: function () {
        //         postOrder();
        //     }
        // });

        // 转无效订单
        jQuery(grid_selector).navButtonAdd(pager_selector, {
            buttonicon: "icon-remove red",
            title: "无效",
            caption: "无效",
            position: "last",
            onClickButton: function () {
                audit(false);
            }
        });
        // 转有效订单
        jQuery(grid_selector).navButtonAdd(pager_selector, {
            buttonicon: "icon-ok green",
            title: "有效",
            caption: "有效",
            position: "last",
            onClickButton: function () {
                audit(true);
            }
        });
    }

    /**
     * 订单审核
     * isValid: true 有效  false 无效
     */
    function audit(isValid) {
        var ids = jQuery("#grid-table").jqGrid('getGridParam', 'selarrrow');
        console.log(ids);
        if (ids.length == 0) {
            swal({
                title: "请选择至少一条订单！",
                timer: 1000,
                type: "error",
                showConfirmButton: false
            });
            return;
        }
        var tempStr = isValid ? "有效" : "无效";
        swal({
            title: "是否转为" + tempStr + "订单?",
            type: "warning",
            showCancelButton: true,
            cancelButtonText: "取消",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            var idsStr = ids.join(",");
            var param = {
                "AuditStatus": isValid ? 1 : 3,
                "Ids": idsStr,
                "PostState": isValid ? "2" : ''
            };
            console.log(param);
            $.ajax({
                type: "post",
                url: "/VideoConfig/ProcessAuditStatus",
                data: {
                    input: JSON.stringify(param)
                },
                dataType: "json",
                success: function (data) {
                    if (data.result == 'success') {
                        swal({
                            title: "审核成功！",
                            timer: 1000,
                            type: "success",
                            showConfirmButton: false
                        });
                        $("#grid-table").trigger("reloadGrid");
                    } else {
                        swal({
                            title: "审核失败！",
                            timer: 1000,
                            type: "error",
                            showConfirmButton: false
                        });
                    }
                },
                error: function (data) {
                    swal({
                        title: "审核失败！",
                        timer: 1000,
                        type: "error",
                        showConfirmButton: false
                    });
                }
            });
        });
    }
</script>