<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="Config/Properties.config"/>
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
	
  <providers resource="Maps/Providers.config"/>
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="sqlserver" connectionString="${Default}"/>
  </database>

  <sqlMaps>
	<sqlMap resource="Maps/Video.xml" />
	<sqlMap resource="Maps/CarVideo.xml" />
	<sqlMap resource="Maps/Coupons.xml" />
	<sqlMap resource="Maps/Opinion.xml" />
  </sqlMaps>

</sqlMapConfig>
