@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = L("CarVideoSetting");
    ViewBag.ActiveMenu = "CarVideoSetting";
}

<style type="text/css">
    .lay_line {
        height: 55px;
    }

    .lay_con {
        padding: 15px 0 15px 50px;
        line-height: 25px;
    }

    .lay_tit {
        float: left;
    }

    .lay_val {
        float: left;
        margin-left: 10px;
    }
</style>
<table id="grid-table"></table>
<div id="grid-pager"></div>

<div id="lay_postinfo" class="lay_box" style="display:none">
    <div class="lay_line">
        <div class="lay_con">
            <div class="lay_tit">巡检车类型:</div>
            <select id="Eqtype" class="lay_val" style="width:100px">
                <option value="1">二轮巡检车</option>
                <option value="2">四轮巡检车</option>
            </select>
        </div>
    </div>
    <div class="lay_line">
        <div class="lay_con">
            <div class="lay_tit">巡检车编号:</div>
            <textarea id="Eqinfo" style="width:320px;height:200px" placeholder="巡检车编号
巡检车编号
巡检车编号"></textarea>
        </div>
    </div>
</div>

@section scriptsgrid
{
    //主表
    jQuery(grid_selector).jqGrid({
    url: '../CarVideoConfig/SelectVideoCarDistinct',
    datatype: "json",
    ajaxSelectOptions: { type: "GET" },
    mtype: "post",
    height: 'auto',
    autowidth: true,
    shrinkToFit:false,
    colNames: ["巡检车编号", "巡检车类型","最后心跳时间", "是否在线","是否启用"],
    colModel: [
    { name: 'VideoCarNumber', index: 'VideoCarNumber', search: true, searchoptions: { sopt: ['eq'] } },
    { name: 'VedioEqType', index: 'VedioEqType', formatter: VedioEqType, search: false},
    { name: 'BeatDatetime', index: 'BeatDatetime', search: false },
    { name: 'IsOnlineValue', index: 'IsOnlineValue', formatter: IsOnlineValue, stype: 'select', searchoptions: { value: { 0: '离线', 1: '在线'}, sopt: ['eq'] }},
    { name: 'IsUse', index: 'IsUse', editable: true, edittype: "select", editoptions: { value: "1:是;0:否" }, formatter: IsUse, search: true, stype: 'select', searchoptions: { value: { 0: '未启用', 1: '已启用' }, sopt: ['eq'] } }
    ],
    viewrecords: true,
    rowNum: 10,
    rowList: [10, 20, 30],
    pager: pager_selector,
    altRows: true,
    sortname: 'VideoCarNumber',
    sortorder: "asc",
    toppager: false,
    multiselect: true,
    multiboxonly: true,
    subGrid: true,
    subGridOptions: {
    "plusicon"  : "ui-icon-triangle-1-e",
    "minusicon" : "ui-icon-triangle-1-s",
    "openicon"  : "ui-icon-arrowreturn-1-e"
    },
    subGridRowExpanded: function (subgrid_id, row_id) {
    var subgrid_table_id, pager_id;
    subgrid_table_id = subgrid_id + "_t";
    pager_id = "p_" + subgrid_table_id;
    var ret = jQuery("#grid-table").jqGrid('getRowData', row_id);
    $("#" + subgrid_id).html(
    "<table id='" + subgrid_table_id
                                        + "' class='scroll'></table><div id='"
                                        + pager_id + "' class='scroll'></div>");
    jQuery("#" + subgrid_table_id).jqGrid(
    {
    url: "../CarVideoConfig/SelectVideoCars",
    datatype: "json",
    postData:
    {
    'VideoCarNumber':ret.VideoCarNumber
    },
    colNames: ['商户', '分公司', "区域", "停车场", "泊位段", "泊位号","停车状态"],
    colModel: [
    { name: 'Name', index: 'Name', search: false },
    { name: 'CompanyName', index: 'CompanyName', search: true, searchoptions: { sopt: ['eq'] }},
    { name: 'RegionName', index: 'RegionName', search: true, searchoptions: { sopt: ['eq'] } },
    { name: 'ParkName', index: 'ParkName', search: true, searchoptions: { sopt: ['eq'] } },
    { name: 'BerthsecName', index: 'BerthsecName', search: true, searchoptions: { sopt: ['eq'] } },
    { name: 'BerthNumber', index: 'BerthNumber', search: true, searchoptions: { sopt: ['eq'] } },
    { name: 'ParkStatus', index: 'ParkStatus', formatter: ParkStatus, search: false, searchoptions: { sopt: ['eq'] } }
    ],
    sortname: 'BerthNumber',
    rowNum : 500,
    width: '100%',
    sortorder: "asc",
    height: '150'
    });
    },
    loadComplete: function () {
    var table = this;
    setTimeout(function () {
    styleCheckbox(table);
    updateActionIcons(table);
    updatePagerIcons(table);
    enableTooltips(table);
    }, 0);
    }
    });
}

@section scriptsbuttonbyself{
    //上传视频设备信息
    jQuery(grid_selector).navButtonAdd(pager_selector,
    {
    buttonicon: "icon-plus-sign purple",
    title: "上传视频设备信息",
    caption: "上传视频设备信息",
    position: "last",
    onClickButton: function(){
    PostVideoInfo();
    }
    });
}
<script>
    function ParkStatus(cellvalue, options) {
        switch (cellvalue) {
            case 0:
                return "<span class='badge badge-info'>未停</span>";
                break;
            case 1:
                return "<span class='badge badge-danger'>在停</span>";
                break;
            default:
                return "";
        }
    }
    function VedioEqType(cellvalue, options) {
        switch (cellvalue) {
            case 1:
                return "二轮巡检车";
                break;
            case 2:
                return "四轮巡检车";
                break;
            default:
                return "";
        }
    }
    function IsOnlineValue(cellvalue, options) {
        switch (cellvalue) {
            case 0:
                return "<span class='badge badge-danger'>离线</span>";
                break;
            case 1:
                return "<span class='badge badge-success'>在线</span>";
                break;
            default:
                return "";
        }
    }
    function IsUse(cellvalue, options) {
        switch (cellvalue) {
            case 0:
                return "<span class='badge badge-danger'>未启用</span>";
                break;
            case 1:
                return "<span class='badge badge-success'>启用</span>";
                break;
            default:
                return "";
        }
    }
    function PostVideoInfo() {
        layer.open({
            type: 1,
            title: ['上传巡检车信息'],
            area: ['400px', '450px'],
            btn: ['提交', '取消'],
            yes: function (index, layero) {
                if ($("#Eqinfo").val()) {
                    var input = { "Eqinfo": $("#Eqinfo").val(), "Eqtype": $("#Eqtype").val() };
                    $.ajax({
                        type: "post",
                        url: "InsertVideoCarBatch",
                        data: { input: JSON.stringify(input) },
                        dataType: "json",
                        success: function (data) {
                            layer.closeAll();
                            if (data.result == "success") {
                                layer.alert('巡检车信息上传成功', { icon: 1 }, function () { location.reload(); });
                            } else {
                                layer.alert(data.msg, { icon: 2 }, function () { layer.closeAll(); });
                            }
                        }
                    });
                } else {
                    layer.alert('请输入信息', { icon: 2 });
                }
            },
            btn2: function (index, layero) {
                layer.closeAll();
            },
            shadeClose: true,
            content: $("#lay_postinfo")
        });
    }
</script>


