@{
Layout = "~/Views/Shared/_LayoutPage.cshtml";
ViewBag.Title = L("VideoSetting");
ViewBag.ActiveMenu = "VideoSetting";
}

@section styles
{
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
}

<style type="text/css">
    .lay_line {
        height: 55px;
    }

    .lay_con {
        padding: 15px 0 15px 50px;
        line-height: 25px;
    }

    .lay_tit {
        float: left;
    }

    .lay_val {
        float: left;
        margin-left: 10px;
    }

    .pointer {
        cursor: pointer;
    }
</style>
<table id="grid-table"></table>
<div id="grid-pager"></div>

<div id="lay_postinfo" class="lay_box" style="display:none">
    <div class="lay_line">
        <div class="lay_con">
            <div class="lay_tit">视频设备类型:</div>
            <select id="Eqtype" class="lay_val" style="width:100px">
                <option value="4">高位视频</option>
            </select>
        </div>
    </div>
    <div class="lay_line">
        <div class="lay_con">
            <div class="lay_tit">视频设备信息:</div>
            <textarea id="Eqinfo" style="width:320px;height:200px" placeholder="视频设备编号
视频设备编号
视频设备编号"></textarea>
        </div>
    </div>
</div>

<script>
    function getVideoURL(VedioEqNumber) {
        var input = {
            "Sn": VedioEqNumber
        }
        $.ajax({
            type: "get",
            url: "../ZsVideo/ProcessAuditStatus",
            data: {
                input: JSON.stringify(input)
            },
            dataType: "json",
            success: function (data) {
                if (data.errorcode == 0) {
                    window.open(data.date.url);
                } else {
                    swal({
                        title: "远程访问失败，请重试！",
                        timer: 1000,
                        type: "error",
                        showConfirmButton: false
                    });
                }
            },
            error: function (data) {
                swal({
                    title: "远程访问失败，请重试！",
                    timer: 1000,
                    type: "error",
                    showConfirmButton: false
                });
            }
        });
    }
</script>

<script>
    function ParkStatus(cellvalue, options) {
        switch (cellvalue) {
            case 0:
                return "<span class='badge badge-info'>未停</span>";
                break;
            case 1:
                return "<span class='badge badge-danger'>在停</span>";
                break;
            default:
                return "";
        }
    }

    function VedioEqType(cellvalue, options) {
        switch (cellvalue) {
            case 1:
                return "有线供电视频桩";
                break;
            case 2:
                return "无源免布线视频桩";
                break;
            case 3:
                return "路牙机";
                break;
            case 4:
                return "高位视频";
                break;
            default:
                return "";
        }
    }

    function IsOnlineValue(cellvalue, options) {
        switch (cellvalue) {
            case 1:
                return "<span class='badge badge-success'>在线</span>";
                break;
            default:
                return "<span class='badge badge-danger'>离线</span>";
        }
    }

    function IsUse(cellvalue, options) {
        switch (cellvalue) {
            case 1:
                return "<span class='badge badge-success'>启用</span>";
                break;
            default:
                return "<span class='badge badge-danger'>停用</span>";
        }
    }

    function PostVideoInfo() {
        layer.open({
            type: 1,
            title: ['上传视频设备信息'],
            area: ['400px', '450px'],
            btn: ['提交', '取消'],
            yes: function (index, layero) {
                if ($("#Eqinfo").val()) {
                    var input = {
                        "Eqinfo": $("#Eqinfo").val(),
                        "Eqtype": $("#Eqtype").val()
                    };
                    $.ajax({
                        type: "post",
                        url: "InsertVideoEquipsBatch",
                        data: {
                            input: JSON.stringify(input)
                        },
                        dataType: "json",
                        success: function (data) {
                            layer.closeAll();
                            if (data.result == "success") {
                                layer.alert('视频设备上传成功', {
                                    icon: 1
                                }, function () {
                                    location.reload();
                                });
                            } else {
                                layer.alert(data.msg, {
                                    icon: 2
                                }, function () {
                                    layer.closeAll();
                                });
                            }
                        }
                    });
                } else {
                    layer.alert('请输入信息', {
                        icon: 2
                    });
                }
            },
            btn2: function (index, layero) {
                layer.closeAll();
            },
            shadeClose: true,
            content: $("#lay_postinfo")
        });
    }


    @section scriptsgrid {
        function VideoURLFormatterFix(cellvalue, options, rowdata) {
            var VedioEqNumber = rowdata.VedioEqNumber;
            return '<span class="fa fa-television fa-lg pointer" style="color:#1890ff" onClick="getVideoURL(\'' +
                VedioEqNumber + '\')"></span>';
        }

        //主表
        jQuery(grid_selector).jqGrid({
            url: '../VideoConfig/SelectVideoEquipsDistinct',
            datatype: "json",
            ajaxSelectOptions: {
                type: "GET"
            },
            mtype: "post",
            postData: {
                'VedioEqType': '4'
            },
            height: 'auto',
            autowidth: true,
            shrinkToFit: false,
            colNames: ["视频设备编号", "视频设备类型", "最后心跳时间", "是否在线", "是否启用", "启用时间", "停用时间", "备注", "远程访问"],
            colModel: [{
                    name: 'VedioEqNumber',
                    index: 'VedioEqNumber',
                    key: true,
                    editable: false,
                    search: true,
                    searchoptions: {
                        sopt: ['eq']
                    }
                },
                {
                    name: 'VedioEqType',
                    index: 'VedioEqType',
                    formatter: VedioEqType,
                    search: false
                },
                {
                    name: 'BeatDatetime',
                    index: 'BeatDatetime',
                    search: false
                },
                {
                    name: 'IsOnlineValue',
                    index: 'IsOnlineValue',
                    width: 80,
                    formatter: IsOnlineValue,
                    stype: 'select',
                    searchoptions: {
                        value: {
                            0: '离线',
                            1: '在线'
                        },
                        sopt: ['eq']
                    }
                },
                {
                    name: 'IsUse',
                    index: 'IsUse',
                    width: 80,
                    formatter: IsUse,
                    editable: true,
                    edittype: "select",
                    editoptions: {
                        value: "1:启用;0:停用"
                    },
                    stype: 'select',
                    searchoptions: {
                        value: {
                            0: '停用',
                            1: '启用'
                        },
                        sopt: ['eq']
                    }
                },
                {
                    name: 'EnableTime',
                    index: 'EnableTime',
                    search: false
                },
                {
                    name: 'StopTime',
                    index: 'StopTime',
                    search: false
                },
                {
                    name: 'Remark',
                    index: 'Remark',
                    search: false,
                    editable: true
                },
                {
                    name: 'VideoURL',
                    index: 'VideoURL',
                    width: 80,
                    align: "center",
                    sortable: false,
                    editable: false,
                    formatter: VideoURLFormatterFix,
                    search: false,
                    hidden: false
                },
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            sortname: 'VedioEqNumber',
            sortorder: "asc",
            toppager: false,
            editurl: "../VideoConfig/EditGWVideoEquips",
            multiselect: true,
            multiboxonly: true,
            subGrid: true,
            subGridOptions: {
                "plusicon": "ui-icon-triangle-1-e",
                "minusicon": "ui-icon-triangle-1-s",
                "openicon": "ui-icon-arrowreturn-1-e"
            },
            subGridRowExpanded: function (subgrid_id, row_id) {
                var subgrid_table_id, pager_id;
                subgrid_table_id = subgrid_id + "_t";
                pager_id = "p_" + subgrid_table_id;
                var ret = jQuery("#grid-table").jqGrid('getRowData', row_id);
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>" +
                    "<div id='" + pager_id + "' class='scroll'></div>");
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: "../VideoConfig/SelectVideoEquips",
                    datatype: "json",
                    postData: {
                        'VedioEqNumber': ret.VedioEqNumber,
                        'VedioEqType': '4'
                    },
                    colNames: ['商户', '分公司', "区域", "停车场", "泊位段", "泊位ID", "泊位号", "停车状态"],
                    colModel: [{
                            name: 'Name',
                            index: 'Name',
                            search: false
                        },
                        {
                            name: 'CompanyName',
                            index: 'CompanyName',
                            search: true,
                            searchoptions: {
                                sopt: ['eq']
                            }
                        },
                        {
                            name: 'RegionName',
                            index: 'RegionName',
                            search: true,
                            searchoptions: {
                                sopt: ['eq']
                            }
                        },
                        {
                            name: 'ParkName',
                            index: 'ParkName',
                            search: true,
                            searchoptions: {
                                sopt: ['eq']
                            }
                        },
                        {
                            name: 'BerthsecName',
                            index: 'BerthsecName',
                            search: true,
                            searchoptions: {
                                sopt: ['eq']
                            }
                        },
                        {
                            name: 'BerthId',
                            index: 'BerthId',
                            search: true,
                            searchoptions: {
                                sopt: ['eq']
                            }
                        },
                        {
                            name: 'BerthNumber',
                            index: 'BerthNumber',
                            search: true,
                            searchoptions: {
                                sopt: ['eq']
                            }
                        },
                        {
                            name: 'ParkStatus',
                            index: 'ParkStatus',
                            formatter: ParkStatus,
                            search: false,
                            searchoptions: {
                                sopt: ['eq']
                            }
                        }
                    ],
                    sortname: 'BerthNumber',
                    rowNum: 500,
                    width: '100%',
                    sortorder: "asc",
                    height: '150'
                });
            },
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    styleCheckbox(table);
                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
            }
        });
    }

    @section scriptsbuttonbyself {
        //上传视频设备信息
        jQuery(grid_selector).navButtonAdd(pager_selector, {
            buttonicon: "icon-plus-sign purple",
            title: "上传视频设备信息",
            caption: "上传视频设备信息",
            position: "last",
            onClickButton: function () {
                PostVideoInfo();
            }
        });
    }
</script>